In [1]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd


# for later
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('./data/raw_data_cleaned.csv')

In [3]:
# df

In [4]:
df.columns

Index(['Unnamed: 0', 'Water (g)', 'Energy (kal)', 'Protein (g)', 'lipid (g)',
       'Carbohydrate (g)', 'Fiber (g)', 'Sugars (g)', 'Ash (g)', 'Ca (mg)',
       'Fe (mg)', 'Mg (mg)', 'P (mg)', 'K (mg)', 'Na (mg)', 'Zn (mg)',
       'Se (µg)', 'Cu (mg)', 'Mn (mg)', 'I (µg)', 'Vc (mg)', 'Thiamin (mg)',
       'Riboflavin (mg)', 'Niacin (mg)', 'B6 (mg)', 'Folate,DFE (µg)',
       'B12 (µg)', 'Va,RAE (µg)', 'Ve (mg)', 'Vd (IU)', 'Vk (µg)',
       'saturated (g)', 'monounsaturated (g)', 'polyunsaturated (g)',
       'trans (g)', 'Cholesterol (mg)', 'Caffeine (mg)', 'phenolics (mg)',
       'pH', 'Plain Occurences', 'Cool Occurences', 'Warm Occurences',
       'Cold Occurences', 'Heavy Cold Occurences', 'Heavy Warm Occurences',
       'Hot Occurences', 'Heavy Hot Occurences'],
      dtype='object')

In [5]:
for col in ['Plain Occurences', 'Cool Occurences', 'Warm Occurences',
       'Cold Occurences', 'Heavy Cold Occurences', 'Heavy Warm Occurences',
       'Hot Occurences', 'Heavy Hot Occurences']:
    print(df[col].value_counts().sort_values(ascending=False))

0    140
1     41
2     37
3     23
Name: Plain Occurences, dtype: int64
0    170
1     43
2     28
Name: Cool Occurences, dtype: int64
0    142
1     62
2     37
Name: Warm Occurences, dtype: int64
0    166
1     58
2     17
Name: Cold Occurences, dtype: int64
0    225
1     16
Name: Heavy Cold Occurences, dtype: int64
0    236
1      5
Name: Heavy Warm Occurences, dtype: int64
0    230
1     11
Name: Hot Occurences, dtype: int64
0    235
1      6
Name: Heavy Hot Occurences, dtype: int64

In [6]:
df.isnull().sum().sort_values(ascending=False)

I (µg)                   167
Vk (µg)                   99
Vd (IU)                   91
Sugars (g)                73
trans (g)                 71
pH                        63
Folate,DFE (µg)           57
B12 (µg)                  56
B6 (mg)                   54
Se (µg)                   51
Cholesterol (mg)          48
Mn (mg)                   46
Ve (mg)                   45
polyunsaturated (g)       43
Cu (mg)                   41
monounsaturated (g)       39
saturated (g)             39
Vc (mg)                   31
phenolics (mg)            26
Va,RAE (µg)               23
Fiber (g)                 20
Caffeine (mg)             18
Ash (g)                   14
Niacin (mg)                9
Thiamin (mg)               7
Mg (mg)                    5
Riboflavin (mg)            5
K (mg)                     4
Ca (mg)                    4
Na (mg)                    3
P (mg)                     3
Fe (mg)                    3
Zn (mg)                    2
lipid (g)                  2
Protein (g)                2
Carbohydrate (g)           1
Hot Occurences             0
Heavy Cold Occurences      0
Heavy Warm Occurences      0
Warm Occurences            0
Cold Occurences            0
Unnamed: 0                 0
Cool Occurences            0
Plain Occurences           0
Water (g)                  0
Energy (kal)               0
Heavy Hot Occurences       0
dtype: int64

In [7]:
df.describe()

,Water (g),Energy (kal),Protein (g),lipid (g),Carbohydrate (g),Fiber (g),Sugars (g),Ash (g),Ca (mg),Fe (mg),...,Cholesterol (mg),Caffeine (mg),Plain Occurences,Cool Occurences,Warm Occurences,Cold Occurences,Heavy Cold Occurences,Heavy Warm Occurences,Hot Occurences,Heavy Hot Occurences
count,241.000000,241.000000,239.000000,239.000000,240.000000,221.000000,168.000000,227.000000,237.000000,238.000000,...,193.000000,223.000000,241.000000,241.000000,241.000000,241.000000,241.000000,241.000000,241.000000,241.000000
mean,60.980871,166.040373,8.620879,7.179498,20.376042,5.399005,6.125060,2.188414,85.835654,3.953151,...,36.243523,0.233184,0.763485,0.410788,0.564315,0.381743,0.066390,0.020747,0.045643,0.024896
std,34.131755,182.867861,8.999564,17.909751,26.523570,10.211724,15.724548,6.816060,177.171132,9.360472,...,104.485335,2.793069,1.031824,0.690205,0.745132,0.615358,0.249481,0.142832,0.209144,0.156133
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,14.600000,41.000000,1.150000,0.200000,2.582500,0.000000,0.000000,0.600000,13.000000,0.400000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,77.010000,95.000000,4.550000,0.700000,7.905000,1.700000,1.375000,1.000000,31.000000,1.240000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,87.780000,251.000000,15.675000,4.230000,21.872500,4.100000,4.777500,2.400000,73.000000,3.537500,...,21.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,99.880000,884.000000,54.200000,100.000000,98.090000,53.200000,99.900000,99.800000,1196.000000,97.400000,...,884.000000,40.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             241 non-null    object
 1   Water (g)              241 non-null    float64
 2   Energy (kal)           241 non-null    float64
 3   Protein (g)            239 non-null    float64
 4   lipid (g)              239 non-null    float64
 5   Carbohydrate (g)       240 non-null    float64
 6   Fiber (g)              221 non-null    float64
 7   Sugars (g)             168 non-null    float64
 8   Ash (g)                227 non-null    float64
 9   Ca (mg)                237 non-null    float64
 10  Fe (mg)                238 non-null    float64
 11  Mg (mg)                236 non-null    float64
 12  P (mg)                 238 non-null    float64
 13  K (mg)                 237 non-null    float64
 14  Na (mg)                238 non-null    float64
 15  Zn (mg)                239 non-null    float64
 16  Se (µg)                190 non-null    float64
 17  Cu (mg)                200 non-null    float64
 18  Mn (mg)                195 non-null    float64
 19  I (µg)                 74 non-null     float64
 20  Vc (mg)                210 non-null    float64
 21  Thiamin (mg)           234 non-null    float64
 22  Riboflavin (mg)        236 non-null    float64
 23  Niacin (mg)            232 non-null    float64
 24  B6 (mg)                187 non-null    float64
 25  Folate,DFE (µg)        184 non-null    float64
 26  B12 (µg)               185 non-null    float64
 27  Va,RAE (µg)            218 non-null    float64
 28  Ve (mg)                196 non-null    float64
 29  Vd (IU)                150 non-null    float64
 30  Vk (µg)                142 non-null    float64
 31  saturated (g)          202 non-null    float64
 32  monounsaturated (g)    202 non-null    float64
 33  polyunsaturated (g)    198 non-null    float64
 34  trans (g)              170 non-null    float64
 35  Cholesterol (mg)       193 non-null    float64
 36  Caffeine (mg)          223 non-null    float64
 37  phenolics (mg)         215 non-null    object
 38  pH                     178 non-null    object
 39  Plain Occurences       241 non-null    int64
 40  Cool Occurences        241 non-null    int64
 41  Warm Occurences        241 non-null    int64
 42  Cold Occurences        241 non-null    int64
 43  Heavy Cold Occurences  241 non-null    int64
 44  Heavy Warm Occurences  241 non-null    int64
 45  Hot Occurences         241 non-null    int64
 46  Heavy Hot Occurences   241 non-null    int64
dtypes: float64(36), int64(8), object(3)
memory usage: 88.6+ KB